*{
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
  position: relative;
  color: #464953;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
@font-face {
  font-family: 'iran-sans';
  src: url(./../fonts/default.woff);
}
.iran-sans{font-family: iran-sans!important;}

:root{
  /*colors*/
  --navy: #282c34;
  --navier: #121417e8;
  --cyan: #61dafb;
  --pink: #BF7497;
  --white: #fff;
  --green: #08bf08;
  --light-blue: #00c2ff;
  --purple: #27222d;
  --silver: #c2c2c2;
  --darknavy: #202339;
  --lightpurple: #76638A;
  --navykind: #0F1743;
  --silverish: #B6B3C9;
  --red: #E5343B;

  --light: #f1f1f1;
  --warn: #ea9357;
  --tomato: #f45858;
  --tomato-light: #f4585899;
  --tomato-lighter: #f5dfe1;
  --tomato-lighter-op: rgba(244, 88, 88, 0.1);
  --bg: #ebebeb;
  --top-nav: #fcfcfc;
  --text-color: #002863;
  --text-lighter: #5e5e76;
  --footer: #464953;
  --text-disabled: #ededed;
  /*grads*/
  --cyangradbottom: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,var(--cyan) 200%);
  --cyangradtop: linear-gradient(to top, rgba(0, 0, 0, 0) 0%,var(--cyan) 200%);
  --greengradbottom: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,var(--green) 200%);
  --greengradtop: linear-gradient(to top, rgba(0, 0, 0, 0) 0%,var(--green) 200%);
  --purplegradbottom: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,var(--purple) 200%);
  --purplegradtop: linear-gradient(to top, rgba(0, 0, 0, 0) 0%,var(--purple) 200%);
  --navygradbottom: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,var(--navy) 200%);
  --navygradtop: linear-gradient(to top, rgba(0, 0, 0, 0) 0%,var(--navy) 200%);
  --pinkgradbottom: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,var(--pink) 200%);
  --pinkgradtop: linear-gradient(to top, rgba(0, 0, 0, 0) 0%,var(--pink) 200%);

  --res-width: 480px;
  --top-nav-height: 77px;
}
a{text-decoration: none;}
button, *[role="button"]{outline: none;}
hr{border-color: #9999992b}

.relative{ position: relative!important; }.absolute{position: absolute!important;}.fixed{position: fixed!important;}
.blocked{	display: block; }.inline-blocked{ display: inline-block; }.inlined{	display: inline; }
.op-50{opacity: .5;}

.grid{display: grid;}
.inline-flexed{ display: inline-flex; }.flexed{ display: flex; }.fl-c{ justify-content: center; align-items: center; }
.justify-between{justify-content: space-between;}
.justify-end{justify-content: flex-end;}
.flex-1{flex: 1;}.flex-2{	flex: 2; }.flex-3{	flex: 3; }.flex-4{	flex: 4; }.flex-5{flex: 5;}.flex-6{flex: 6;}.flex-7{flex: 7;}.flex-8{flex: 8;}.flex-9{flex: 9;}.flex-10{flex: 10;}.flex-11{flex: 11;}.flex-12{flex: 12;}
.row-reversed{flex-direction: row-reverse;}
.align-c{ align-items: center;}.justify-c{ justify-content: center;}
.align-end{align-items: flex-end;}
.fdir-col{flex-direction: column;}

.z-1{ z-index: 1; }.z-2{ z-index: 2; }
.text-center{ text-align: center; }.text-right{ text-align: right; }.text-left{ text-align: left; }

.pointer{	cursor: pointer; }
.bold{ font-weight: bold; }

.w-33{	width: 33.33%; }.w-40{	width: 40%; }.w-50{	width: 50%; }.w-75{	width: 75%; }.w-100{ width: 100%; }
.w-256{ width: 256px; }
.h-100vh{height: 100vh;}
.h-100{height: 100%;}
.h-200{height: 200px;}
.maxw-768{
	max-width: 768px;
	width: 100%;
}
.maxw-420{
  max-width: 420px;
  width: 100%;
}
.container{max-width: 1400px; margin: auto;}
.scroll-hor{
  white-space: nowrap;
  overflow: auto;
}

.py-4{padding-top: 4px;padding-bottom: 4px;}.py-5{padding-top: 5px;padding-bottom: 5px;}.py-6{padding-top: 6px;padding-bottom: 6px;}.py-8{padding-top: 8px;padding-bottom: 8px;}.py-10{padding-top: 10px;padding-bottom: 10px;}.py-12{padding-top: 12px;padding-bottom: 12px;}.py-16{padding-top: 16px;padding-bottom: 16px;}.py-22{padding-top: 22px;padding-bottom: 22px;}.py-24{padding-top: 24px;padding-bottom: 24px;}.py-20{padding-top: 20px;padding-bottom: 20px;}.py-32{padding-top: 32px;padding-bottom: 32px;}.py-45{padding-top: 45px;padding-bottom: 45px;}
.px-0{padding-right: 0;padding-left: 0;}.px-2{padding-right: 2px;padding-left: 2px;}.px-4{padding-right: 4px;padding-left: 4px;}.px-6{padding-right: 6px;padding-left: 6px;}.px-8{padding-right: 8px;padding-left: 8px;}.px-16{padding-right: 16px;padding-left: 16px;}.px-20{padding-right: 20px;padding-left: 20px;}.px-22{padding-right: 22px;padding-left: 22px;}.px-24{padding-right: 24px;padding-left: 24px;}.px-32{padding-right: 32px;padding-left: 32px;}.px-45{padding-right: 45px;padding-left: 45px;}.px-64{padding-right: 64px;padding-left: 64px;}
.p-0{padding: 0;}.p-2{padding: 2px;}.p-4{padding: 4px;}.p-6{padding: 6px;}.p-8{padding: 8px;}.p-12{padding: 12px;}.p-16{padding: 16px;}.p-22{padding: 22px;}.p-24{padding: 24px;}.p-32{padding: 32px;}.p-45{padding: 45px;}.p-64{padding: 64px;}
.pl-6{padding-left: 6px;}.pl-8{padding-left: 8px;}.pl-16{padding-left: 16px;}.pl-22{padding-left: 22px;}.pl-24{padding-left: 24px;}.pl-32{padding-left: 32px;}.pl-45{padding-left: 45px;}.pl-64{padding-left: 64px;}
.pr-2{padding-right: 2px;}.pr-4{padding-right: 4px;}.pr-8{padding-right: 8px;}.pr-12{padding-right: 12px;}.pr-16{padding-right: 16px;}.pr-20{padding-right: 20px;}.pr-22{padding-right: 22px;}.pr-24{padding-right: 24px;}.pr-32{padding-right: 32px;}.pr-45{padding-right: 45px;}.pr-64{padding-right: 64px;}
.pt-0{padding-top: 0;}.pt-4{padding-top: 4px;}.pt-6{padding-top: 6px;}.pt-8{padding-top: 8px;}.pt-12{padding-top: 12px;}.pt-16{padding-top: 16px;}.pt-20{padding-top: 20px;}.pt-22{padding-top: 22px;}.pt-24{padding-top: 24px;}.pt-32{padding-top: 32px;}.pt-45{padding-top: 45px;}.pt-64{padding-top: 64px;}
.pb-0{padding-bottom: 0;}.pb-4{padding-bottom: 4px;}.pb-8{padding-bottom: 8px;}.pb-12{padding-bottom: 12px;}.pb-16{padding-bottom: 16px;}.pb-22{padding-bottom: 22px;}.pb-32{padding-bottom: 32px;}.pb-45{padding-bottom: 45px;}.pb-64{padding-bottom: 64px;}

.m-0{margin: 0;}.m-8{margin: 8px;}
.mx-auto{margin-left: auto;margin-right: auto;}.mx-4{margin-right: 4px;margin-left: 4px;}.mx-8{margin-right: 8px;margin-left: 8px;}.mx-16{margin-right: 16px;margin-left: 16px;}.mx-22{margin-right: 22px;margin-left: 22px;}.mx-32{margin-right: 32px;margin-left: 32px;}
.my-4{margin-top: 4px;margin-bottom: 4px;}.my-8{margin-top: 8px;margin-bottom: 8px;}.my-12{margin-top: 12px;margin-bottom: 12px;}.my-16{margin-top: 16px;margin-bottom: 16px;}.my-22{margin-top: 22px;margin-bottom: 22px;}.my-32{margin-top: 32px;margin-bottom: 32px;}.my-45{margin-top: 45px;margin-bottom: 45px;}
.mr-4{margin-right: 4px;}.mr-8{margin-right: 8px;}.mr-12{margin-right: 12px;}.mr-16{margin-right: 16px;}.mr-32{margin-right: 32px;}
.mt-0{margin-top: 0;}.mt-2{margin-top: 2px;}.mt-4{margin-top: 4px;}.mt-8{margin-top: 8px;}.mt-12{margin-top: 12px;}.mt-16{margin-top: 16px;}.mt-20{margin-top: 20px;}.mt-22{margin-top: 22px;}.mt-24{margin-top: 24px;}.mt-32{margin-top: 32px;}.mt-45{margin-top: 45px;}
.mb-0{margin-bottom: 0;}.mb-4{margin-bottom: 4px;}.mb-8{margin-bottom: 8px;}.mb-12{margin-bottom: 12px;}.mb-16{margin-bottom: 16px;}.mb-32{margin-bottom: 32px;}.mb-45{margin-bottom: 45px;}
.ml-4{margin-left: 4px;}.ml-8{margin-left: 8px;}.ml-10{margin-left: 10px;}.ml-12{margin-left: 12px;}.ml-16{margin-left: 16px;}.ml-22{margin-left: 22px;}.ml-32{margin-left: 32px;}.ml-64{margin-left: 64px;}

.font-8{ font-size: 7pt; }.font-9{ font-size: 8pt; }.font-10{ font-size: 9pt; }.font-11{ font-size: 10pt; }.font-12{ font-size: 11pt; }.font-13{ font-size: 12pt; }.font-14{ font-size: 13pt; }.font-15{ font-size: 14pt; }.font-16{ font-size: 15pt; }.font-17{ font-size: 16pt; }.font-18{ font-size: 17pt; }.font-20{ font-size: 19pt; }.font-22{ font-size: 21pt; }.font-24{ font-size: 23pt; }.font-26{ font-size: 25pt; }.font-28{ font-size: 27pt; }
.hidden{ display: none; }

.overflow-hidden{overflow: hidden;}.overflow-auto{overflow: auto;}

.rtl{ direction: rtl;}.ltr{ direction: ltr;}

.unfloat{float: none;}.left{ float: left; }.right{ float: right; }
.cleared{ clear: both; }

.circle{ border-radius: 50%; }
.radius-2{border-radius: 2px;}.radius-4{border-radius: 4px;}.radius-6{border-radius: 6px;}.radius-8{border-radius: 8px;}.radius-12{border-radius: 12px;}.radius-14{border-radius: 14px;}.radius-16{border-radius: 16px;}.radius-32{border-radius: 32px;}

.bd-disabled{ border-color: #ededed5c; }

.bg-warn{ background-color: var(--warn); }
.bg-tomato-lighter-op{ background-color: var(--tomato-lighter-op); }
.bg-tomato-lighter{ background-color: var(--tomato-lighter); }
.bg-tomato-light{ background-color: var(--tomato-light); }
.bg-footer{ background-color: var(--footer); }
.bg-tomato{ background-color: var(--tomato); }
.bg-top-nav{ background-color: var(--top-nav); }
.bg-bg{ background-color: var(--bg); }.bg-light{ background-color: var(--light); }
.text-warn{ color: var(--warn); }.text-footer{ color: var(--footer); }.text-lighter{ color: var(--text-lighter); }
.text-top-nav{ color: var(--top-nav); }.text-tomato{ color: var(--tomato); }.text-tomato-light{ color: var(--tomato-light); }.text-tomato-lighter{ color: var(--tomato-lighter); }
.text-success{ color: var(--green); }
.text-disabled{ color: #c4cbd4; }
/* .text-semi-disabled.hoverable:hover{ color: var(--tomato); } */
.text-semi-disabled{ color: #8d8d8d; }
.hoverable:hover .text-semi-disabled.hoverable{color: #6c737c!important;}
.hover-bg-tomato-lighter:hover{background-color: var(--tomato-lighter)!important;}
.button.active, .icon-button:hover{filter: brightness(0.5);}
.hover-shadow:hover{filter: drop-shadow(0px 0px 2px var(--tomato))}
.transparent{ background-color: transparent; }

.icon-shadow{filter: drop-shadow(0 5px 3px #f4585888);}
.text-shadow{text-shadow: 0 5px 8px #4b47842a;}
.text-shadow-tomato{text-shadow: 0 6px 5px rgba(244, 88, 88, 0.16);}
.text-shadow-mild{text-shadow: 0px 5px 4px #9995;}
.shadow{box-shadow: 0 0 4px #999;}.shadow-mild{box-shadow: 0 2px 12px #ccca;}
.shadow-sm{box-shadow: 0 5px 18px #9994;}.shadow-milder{box-shadow: 0 5px 18px #99999915;}
.shadow-tomato{box-shadow: 0 5px 13px #dc9393bb;}

.bd-white{border: 1px solid #f1f1f1}
.bd-none{ border: none; }
.bg-none{background: none;}

.line-2{line-height: 2;}

.qa-item{width: 100%;height: 34px;}
.thumb-lg{width: 80px;height: 80px;}.thumb-md{width: 64px;height: 64px;}.thumb-sm{width: 20px;height: 20px;}.thumb-xs{width: 16px;height: 16px;}
.icon, .thumb{width: 32px;height: 32px;}
.icon-lg{width: 32px;}.icon-md{width: 26px;}.icon-sm{width: 20px;}.icon-xs{width: 12px;}
.valign-mid{vertical-align: middle;}
.line-through:before{
  content: '';
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #c3c3c3c3;
  right: 10%;
  top: calc(50% - 1px);
  z-index: -1;
}

.table-item{
  background-color: rgba(255, 255, 255, .4);
}
.table-item:nth-of-type(even){
  background-color: rgba(244, 88, 88, 0.04);
}
.table-item:focus{
  background-color: rgba(207, 46, 46, 0.4);
}

.top-nav-item:hover{border-bottom: 1px solid var(--tomato)}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  /*border: 2px solid #555555;*/
  border-radius: 3px;
  background-color: #f1f1f1;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  border: solid var(--footer);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 7px;
}
input[type=checkbox]:hover:before{background-color: #eaeaea;}

input[type=checkbox].tomato:checked:after {border-color: var(--tomato);}
input[type=checkbox].success:checked:after {border-color: var(--green);}


.separator{position: relative;}
.separator:after{
  content: '';
  position: absolute;
  background-color: #d1d1d1;
  width: 1px;
  height: 80%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.one-line{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

hr{ height: 1px; }
img:not(.force){ max-height: 360px;}
img{
	object-fit: cover;
  max-width: 100%;
}
button:hover{cursor: pointer;}
.sticky{
	position: sticky;
  top: 0;
  z-index: 1;
}

html, body{
	height: 100%;
	scroll-behavior: smooth;
  text-align: justify;
  background-color: var(--bg);
  margin: 0;
  font-family: iran-sans!important;
  overflow: hidden;
  direction: rtl;
}


/* id */
#top-nav{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: var(--top-nav-height);
}
#layout{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 2px;
  height: calc(100vh - var(--top-nav-height));
}
/* class */
.dropdown-items{right: 0;left: 0;}
.dropdown-button{
  border-bottom: 1px solid #9992;
    background: #dfe0e1;
}
.dropdown-items ul li:last-of-type button{border-bottom: none;}
.dropdown-button:hover{background: #c7c7c7;}
/* .dropdown:focus + .dropdown-items, .dropdown-items:hover{display: block;} */
.button{cursor: pointer;}
button:active, .button:active, a:active{
  transform: scale(.95);
}
.modal.full{
  position: fixed;
  top: 0;right: 0;bottom: 0;left: 0;
  background-color: rgba(194, 194, 194, 0.32);
  backdrop-filter: blur(6px);
  z-index: 999;
}
.exam-item .tag{
  left: -34px;
  top: 14px;
  transform: rotate(-45deg);
  width: 128px;
  box-shadow: 0 2px 6px #e9347475;
}

.loading.full{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.table-item:hover{background-color: rgba(255, 255, 255, .7)!important;}
.Toastify__toast-body{
  font-family: iran-sans;
  color: var(--top-nav);
  direction: rtl;
  padding-right: 12px;
}
.Toastify__close-button{align-self: center!important;}
.Toastify__toast{align-items: center;}
.Toastify__toast--warning .Toastify__toast-body{color: var(--text-color);}

.menu-item.parent.bold{
  border-left: 2px solid var(--tomato);
}
.menu-item + ul{display: none;}
.menu-item.bold + ul{display: block;}
.icon-mask{
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}
.pagination button{height: 32px;}

.voted{
  box-shadow: inset 0 0 32px #ffd9d9;
  border-radius: 4px;
}

.img:hover, .about-item:hover .img{
  background-size: 120%!important;
}
.about-item:hover .overlay{transform: translateY(-100%);}
.about-item .overlay{
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  bottom: 0;
  background: #46495399;
}
.modal-content{
  max-height: 450px;
  overflow: auto;
}

.exam-nav:before{
  content: '';
  position: absolute;
  width: 100%;
  background-color: #5e5e75;
  height: 1px;
  left: 0;
  top: 50%;
}
.exam-nav-item{
  border: 1px solid #5e5e75;
  width: 26px;
  height: 26px;
}

.avatar:hover .avatar-actions{bottom: 0!important;}

#image-holder::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #9993;
  z-index: 1;
}
#image-holder::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #9993;
  z-index: 1;
}


.highlight{background-color: yellow!important;}








/* timer */
.time-wrapper {
  position: relative;
  margin: 40px auto;
  background: #fafafa;
}

.time-wrapper, .time-wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.time-wrapper {
  width: 72px;
  height: 72px;
  position: absolute;
  top: calc(50% - 64px);
  right: calc(50% - 36px);
  border-radius: 50%;
  overflow: hidden;
}

.time-wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: var(--tomato);
  /* border: 5px solid rgba(0,0,0,0.5); */
}

.time-wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  /* animation: rota 5s linear infinite; */
}

.time-wrapper:hover .spinner,
.time-wrapper:hover .filler,
.time-wrapper:hover .mask {
  animation-play-state: running;
}

.time-wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  /* animation: opa 5s steps(1, end) infinite reverse; */
  border-left: none;
}

.time-wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  /* animation: opa 5s steps(1, end) infinite; */
}
.time-wrapper .time{
  z-index: 321;
  background: var(--footer);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}











@media (min-width: 768px){
  .jyYEKi {font-size: 1rem!important;}
}









::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(90deg, transparent 42%, #8d8d8d 50%, transparent 58%)
}
::-webkit-scrollbar-thumb {
  background: var(--tomato); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--tomato-light);
}


.wink{
	animation: wink;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.popIn{
	animation: popIn;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}
.slideInTop{
	animation: slideInTop;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}
.slideInBottom{
	animation: slideInBottom;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}
.slideInRight{
	animation: slideInRight;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}
.notifyMe{
  animation: notifyMe;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	animation-fill-mode: forwards;
}

@keyframes slideInTop{
	from{
		opacity: .2;
		transform: translateY(32px);
	}
}
@keyframes slideInBottom{
	from{
		opacity: .2;
		transform: translateY(-32px);
	}
}
@keyframes slideInRight{
	from{
		opacity: .2;
		transform: translateX(-32px);
	}
}
@keyframes popIn{
	from{
		opacity: .2;
		transform: scale(.85);
	}
}
@keyframes wink{
  0%{
    opacity: 0;
    transform: scale(.97);
  }
  /* 50%{ opacity: .2; } */
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes notifyMe{
	0% {
		transform: translateY(0);
  }
  70% {
		transform: translateY(-50%);
  }
  100% {
		transform: translateY(0);
  }
}